@model Almotkaml.ArtificialLimbs.Models.HomeModel

@{
    ViewBag.Title = "الرئيسية";
}
<br />
<div class="row">
    <div class="col-lg-3 col-md-6" style="margin-top:25px">
        @Html.Label("الوصول السريع :")
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa icon-newspaper fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div>سـجـل المـرضى</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Patient")">
                <div class="panel-footer">
                    <span class="pull-right">عرض التفاصيل</span>
                    <span class="pull-left"><i class="fa fa-arrow-circle-left"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa icon-clock fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div>الحالات اليومية</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","DailyStatues")">
                <div class="panel-footer">
                    <span class="pull-right">عرض التفاصيل</span>
                    <span class="pull-left"><i class="fa fa-arrow-circle-left"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa icon-calendar fa-5x "></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div>حالات البتر</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "AmputationStatues")">
                <div class="panel-footer">
                    <span class="pull-right">عرض التفاصيل</span>
                    <span class="pull-left"><i class="fa fa-arrow-circle-left"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
   
</div>

<div class="main-content">
    <h1 class="page-title">إحصائيات</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-50">
            <div class="panel minimal panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">عدد المرضى لـ سنة @DateTime.Now.Year</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="stack-order">
                        <h1 class="no-margins">
                            @Model.PatientCount
                        </h1>
                        <small>عدد المرضى لـ سنة @DateTime.Now.Year</small>
                    </div>
                    <div class="bar-chart-icon"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-49">
            <div class="panel minimal panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">حالات الانتظار</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="stack-order">
                        <h1 class="no-margins">@Model.NewPatientCount</h1>
                        <small>@*New signups this month.*@</small>
                        <br />
                    </div>
                    <div class="bar-chart-icon"></div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-48">
            <div class="panel minimal panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">Likes on content</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="stack-order">
                        <h1 class="no-margins">134,584</h1>
                        <small>12,985 Likes this month.</small>
                    </div>
                    <div class="like-icon"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 animatedParent animateOnce z-index-47">
            <div class="panel minimal panel-default animated fadeInUp">
                <div class="panel-heading clearfix">
                    <div class="panel-title">Advertisements</div>
                    <ul class="panel-tool-options">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="stack-order">
                        <h1 class="no-margins">759</h1>
                        <small>31 News ads this month.</small>
                    </div>
                    <div class="bar-chart-icon"></div>
                </div>
            </div>
        </div>*@
    </div>

    <div class="row">
        <div class="col-lg-6 animatedParent animateOnce z-index-42">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-heading no-border clearfix">
                    <h3 class="panel-title">حالات البتر</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="user-stats">
                                <h1>@Model.AmpPatientCount</h1>
                                <h3 class="uppercase">مريض</h3>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="progress sm-progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.MenCount" aria-valuemin="0" aria-valuemax="100" style="width:@Model.MenCount%"></div>
                                <span class="bar-label">@Model.MenCount رجال</span>
                            </div>
                            <div class="progress sm-progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: @Model.WomenCount%"></div>
                                <span class="bar-label">@Model.WomenCount نساء</span>
                            </div>
                            <div class="progress sm-progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: @Model.ChildrenCount%"></div>
                                <span class="bar-label">@Model.ChildrenCount أطفال</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-6 animatedParent animateOnce z-index-41">
            <div class="panel panel-default animated fadeInUp">
                <div class="panel-body">
                    <div class="speed-analyzer">
                        <div class="speed-analyzer-text">
                            <h4>Download Speed Analyzer</h4>
                            <p>Speed test run on different anlayzers including google and YSlow.</p>
                        </div>
                        <div class="speed-score">
                            <strong class="score">82</strong>
                            <span class="uppercase">Google Score</span>
                        </div>
                        <div class="speed-score">
                            <strong class="score">73</strong>
                            <span class="uppercase">YSlow Score</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
  

</div>
<script src="js/jquery.min.js"></script>
<!-- Load CSS3 Animate It Plugin JS -->
<script src="~/Content/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="~/Content/js/plugins/blockui-master/jquery-ui.js"></script>
<script src="~/Content/js/plugins/blockui-master/jquery.blockUI.js"></script>
<!--Float Charts-->
<script src="~/Content/js/plugins/flot/jquery.flot.min.js"></script>
<script src="~/Content/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="~/Content/js/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="~/Content/js/plugins/flot/jquery.flot.selection.min.js"></script>
<script src="~/Content/js/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="~/Content/js/plugins/flot/jquery.flot.time.min.js"></script>

<script src="~/Content/js/functions.js"></script>

<!--ChartJs-->
<script src="~/Content/js/plugins/chartjs/Chart.min.js"></script>
<script>
	$(document).ready(function () {
		var previousPoint = null;
		$('#graph-lines').bind('plothover', function (event, pos, item) {
			if (item) {
				if (previousPoint != item.dataIndex) {
					previousPoint = item.dataIndex;
					$('#flotTip').remove();

					var label = item.series.label;
					var x = item.datapoint[0],
							y = item.datapoint[1];
					showTooltip(item.pageX, item.pageY, y + ' ' + label + ' at ' + x + '.00h');
				}
			} else {
				$('#flotTip').remove();
				previousPoint = null;
			}
		});

		var graphData = [{
				// Visits
				data: [[6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000]],
				color: '#71c73e',
				label: 'Visitors',
			}, {
				// Returning Visits
				data: [[6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000]],
				color: '#77b7c5',
				label: 'Customers',
				points: {radius: 4, fillColor: '#77b7c5'}
			}
		];
		// Lines
		$.plot($('#graph-lines'), graphData, {
			series: {
				points: {
					show: true,
					radius: 5
				},
				lines: {
					show: true
				},
				shadowSize: 0
			},
			grid: {
				color: '#646464',
				borderColor: 'transparent',
				borderWidth: 20,
				hoverable: true
			},
			legend: {
				show: true,
				position: 'left', // left or right
			},
			xaxis: {
				tickColor: 'transparent',
				tickDecimals: 2
			},
			yaxis: {
				tickSize: 1000
			}
		});

		//doughnut chart
		var doughnutData = [
			{
				value: 5742,
				color: "#2bbfba",
				highlight: "#1fb3ae",
				label: "Only Visited"
			},
			{
				value: 2496,
				color: "#00b8ce",
				highlight: "#00acc2",
				label: "Purchased"
			},
			{
				value: 1762,
				color: "#e5e8eb",
				highlight: "#d9dcdf",
				label: "Bounced"
			}
		];

		var doughnutOptions = {
			segmentShowStroke: true,
			segmentStrokeColor: "#fff",
			segmentStrokeWidth: 4,
			percentageInnerCutout: 60, // This is 0 for Pie charts
			animationSteps: 100,
			animationEasing: "easeOutBounce",
			animateRotate: true,
			animateScale: false,
			responsive: true,
			//String - A legend template
			legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
		};

		var canvas = document.getElementById("doughnutChart");
		var helpers = Chart.helpers;
		//var ctx = document.getElementById("doughnutChart").getContext("2d");
		var moduleDoughnut = new Chart(canvas.getContext("2d")).Doughnut(doughnutData, doughnutOptions);
		var legendHolder = document.createElement('div');
		legendHolder.innerHTML = moduleDoughnut.generateLegend();
		helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
			helpers.addEvent(legendNode, 'mouseover', function () {
				var activeSegment = moduleDoughnut.segments[index];
				activeSegment.save();
				activeSegment.fillColor = activeSegment.highlightColor;
				moduleDoughnut.showTooltip([activeSegment]);
				activeSegment.restore();
			});
		});
		helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
			moduleDoughnut.draw();
		});
		canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
	});
</script>