@using Almotkaml.ArtificialLimbs.Global
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title>@ViewData["Title"]</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/images/Almotkaml.ico' />
    <!-- /site favicon -->
    <!-- Entypo font stylesheet -->
    <link href="~/Content/css/entypo.css" rel="stylesheet">
    <!-- /entypo font stylesheet -->
    <!-- Font awesome stylesheet -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- /font awesome stylesheet -->
    <!-- CSS3 Animate It Plugin Stylesheet -->
    <link href="~/Content/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">
    <link href="~/Content/css/plugins/timepicker/timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/jquery-editable-select.css" rel="stylesheet" />
    <!-- /css3 animate it plugin stylesheet -->
    <!-- Bootstrap stylesheet min version -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- /bootstrap stylesheet min version -->
    <!-- Mouldifi core stylesheet -->
    <link href="~/Content/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/Content/css/mouldifi-forms.css" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet" />


    <!-- /mouldifi core stylesheet -->
    <link href="~/Content/css/plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/Content/css/plugins/nouislider/nouislider.css" rel="stylesheet">
    <link href="~/Content/css/plugins/select2/select2.css" rel="stylesheet">

    <link href="~/Content/css/plugins/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/Content/js/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet">

    <!-- /bootstrap rtl stylesheet min version -->
    <!-- Bootstrap RTL stylesheet min version -->
    <link href="~/Content/css/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- Mouldifi RTL core stylesheet -->
    <link href="~/Content/css/mouldifi-rtl-core.css" rel="stylesheet">
    <link href="~/Content/css/droidarabickufi.css" rel="stylesheet">
    <!-- /mouldifi rtl core stylesheet -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="~/Content/js/html5shiv.min.js"></script>
          <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="~/Content/js/plugins/flot/excanvas.min.js"></script>
    <![endif]-->
    <style type="text/css">
        * {
            font-family: 'Droid Arabic Kufi', 'Open Sans', sans-serif;
            font-size: 12px;
        }

        .note {
            color: #f00;
        }
    </style>
    <script type="text/javascript">
        function minimize() {
            $('#dataTables-example1').dataTable();
            $('#dataTables-example2').dataTable();
            $('#dataTables-example3').dataTable();
            $('#dataTables-example4').dataTable();
            $('#dataTables-example5').dataTable();
            $('#dataTables-example6').dataTable();
            document.getElementById('main_menu').style.width = "60px";
            document.getElementById('page-wrapper').style.marginRight = "60px";
            document.getElementById('full_menu').style.display = "none";
            document.getElementById('mini_menu').style.display = "";
        }

        function maximize() {
            $('#dataTables-example1').dataTable();
            $('#dataTables-example2').dataTable();
            $('#dataTables-example3').dataTable();
            $('#dataTables-example4').dataTable();
            $('#dataTables-example5').dataTable();
            $('#dataTables-example6').dataTable();
            document.getElementById('main_menu').style.width = "250px";
            document.getElementById('page-wrapper').style.marginRight = "250px";
            document.getElementById('full_menu').style.display = "";
            document.getElementById('mini_menu').style.display = "none";
        }

        @*function RedirectToIndex() {
            $('#dataTables-example').dataTable();
            $('#dataTables-example1').dataTable();
            $('#dataTables-example2').dataTable();
            $('#dataTables-example3').dataTable();
            $('#dataTables-example4').dataTable();
            $('#dataTables-example5').dataTable();
            $('#dataTables-example6').dataTable();
            var requestDone = document.getElementById('request-done').innerHTML;
            if (requestDone === "Done") {
                window.location = "@Url.Action("Index", Html.Controller())";
            } else {
                $('.js-submit').prop('disabled', false);
            }
        }*@

        @*function DoNothing() {
            $('#dataTables-example').dataTable();
            $('#dataTables-example1').dataTable();
            $('#dataTables-example2').dataTable();
            $('#dataTables-example3').dataTable();
            $('#dataTables-example4').dataTable();
            $('#dataTables-example5').dataTable();
            $('#dataTables-example6').dataTable();
            var requestDone = document.getElementById('request-done').innerHTML;
            if (requestDone === "fDone") {
                window.location = "@Url.Action("Index", Html.Controller())";
            } else {
                $('.js-submit').prop('disabled', false);
            }
        }

        function RedirectToEdit() {
            $('#dataTables-example').dataTable();
            var requestDone = document.getElementById('request-done').innerHTML;
            var modelId = document.getElementById('ajax-model-id').innerHTML;
            if (requestDone === "Done") {
                window.location = "@Url.Action("Edit", Html.Controller())/" + modelId;
            } else {
                $('.js-submit').attr('disabled', false);
            }
        }*@

        function OnBegin() {
            $('.js-submit').attr('disabled', true);
        }

        function OnFailure() {
            alert("failed");
        }

        function CollapsePanel(type) {
            if (type) {
                document.getElementById('form-panel-opened').style.display = "";
                document.getElementById('form-panel-closed').style.display = "none";
            } else {
                document.getElementById('form-panel-opened').style.display = "none";
                document.getElementById('form-panel-closed').style.display = "";
            }
        }

        function hideModal(id) {
            $('#' + id).modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();

        }


        function SendValue(thisElement, id, value) {
            document.getElementById(id).value = value;
            thisElement.form.submit();
            document.getElementById(id).value = "";
        }

        function SendValueAjax(thisElement, id, value) {
            document.getElementById(id).value = value;
            $(thisElement.form).submit();
            document.getElementById(id).value = "";
        }

        function UploadMultiple(id, value) {
            document.getElementById(id).value = value;
            window.addEventListener("submit",
                function (e) {
                    var form = e.target;
                    if (form.getAttribute("enctype") === "multipart/form-data") {
                        if (form.dataset.ajax) {
                            e.preventDefault();
                            e.stopImmediatePropagation();
                            var xhr = new XMLHttpRequest();
                            xhr.open(form.method, form.action);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4 && xhr.status === 200) {
                                    if (form.dataset.ajaxUpdate) {
                                        var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                                        if (updateTarget) {
                                            updateTarget.innerHTML = xhr.responseText;
                                        }
                                    }
                                }
                            };
                            xhr.send(new FormData(form));
                        }
                    }
                },
                true);
        }

        function UploadSingle(id, value) {
            document.getElementById(id).value = value;
            window.addEventListener("submit",
                function (e) {
                    var form = e.target;
                    if (form.getAttribute("enctype") === "singlepart/form-data") {
                        if (form.dataset.ajax) {
                            e.preventDefault();
                            e.stopImmediatePropagation();
                            var xhr = new XMLHttpRequest();
                            xhr.open(form.method, form.action);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4 && xhr.status === 200) {
                                    if (form.dataset.ajaxUpdate) {
                                        var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                                        if (updateTarget) {
                                            updateTarget.innerHTML = xhr.responseText;
                                        }
                                    }
                                }
                            };
                            xhr.send(new FormData(form));
                        }
                    }
                },
                true);
        }
    </script>
</head>
<body>

    <!-- Page container -->
    <div class="page-container sidebar-collapsed">

        <!-- Page Sidebar -->
        <div class="page-sidebar">

            <!-- Site header  -->
            <header class="site-header">
                <div class="site-logo"><a href="@Url.Action("Index", "Home", new {})" style="font-size:large">إدارة الأطراف الصناعية</a></div>
                <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
                <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
            </header>
            <!-----------------------------------------------------------
            <div id="main_menu" onclick="maximize()" class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <!-- Begin Full Menu -->
            <ul id="side-nav" class="main-menu navbar-collapse collapse">
                @*<li class="has-sub ">*@
                @*<a href="index.html"><i class="icon-cog"></i><span class="title">الاعدادات العامة</span></a>*@
                @*<ul class="nav">*@
                @*<li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>*@
                @*<li>
                        <a style="font-size: 14px" href="@Url.Action("Index", "Home", new {c = "open"})"><i style="margin-left: 10px" class="fa fa-home fa-fw"></i>الرئيسية </a>
                    </li>*@
                @{
                    var baseCategories = new Category().GetCategories(Html);
                }
                @foreach (var baseCategory in baseCategories)
                {
                    //if (baseCategory.Categories.All(c => c.IsVisible == false))
                    //{
                    //    continue;
                    //}
                    var title = baseCategory.Title;
                    var icon = baseCategory.Icon;
                    var active = baseCategory.Categories.Any(c => c.ControllerName == (string)ViewData["ActiveController"])
                        ? "active" : "";
                    <li class="has-sub @active">
                        <a href="/#"><i class="@icon"></i><span class="title">@title</span> </a>
                        <ul class="nav">
                            @foreach (var category in baseCategory.Categories)
                            {
                                if (!category.IsVisible || !category.IsActive)
                                {
                                    continue;
                                }
                                <li >
                                    <a class="@ViewData[category.ControllerName]" style="font-size: 14px" href="@Url.Action(category.ActoinName, category.ControllerName, new {c = "open"})"><i style="margin-left: 10px" class="@category.Icon"></i><span class="title">@category.Title</span> </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>


            <!------------------------------------------------------------>
            <!-- /site header -->
            <!-- Main navigation -->
            <!-- /////////////////////
            <ul id="side-nav" class="main-menu navbar-collapse collapse">
                <li class="has-sub ">
                    <a href="index.html"><i class="icon-cog"></i><span class="title">الاعدادات العامة</span></a>
                    <ul class="nav">
                        <li><a href="@Url.Action("Index","UserGroup")"><i class="icon-bookmark"></i><span class="title">الصلاحيات</span></a></li>
                        <li><a href="@Url.Action("Index","User")"><i class="icon-users"></i><span class="title">المستخدمين</span></a></li>
                        <li><a href="@Url.Action("Index","Users")"><i class="icon-monitor"></i><span class="title">مراقبة النظام</span></a></li>
                        <li><a href="@Url.Action("Index","BackUp")"><i class="icon-database"></i><span class="title">النسخ الاحتياطي</span></a></li>
                        <li>
                            <a href="news-dashboard.html"><i class="icon-tools"></i><span class="title">الاعدادات النظام</span></a>
                            <ul class="nav">
                                <li>@Html.ActionLink("الاعدادات العامة", "Index", "Setting", new { area = "" }, new { @class = "title" })</li>
                                <li>@Html.ActionLink("بيانات الجهة", "Index", "CompanyInfo", new { area = "" }, new { @class = "title" })</li>
                                <li>@Html.ActionLink("العُـطـل", "Index", "Holiday", new { area = "" }, new { @class = "title" })</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-sub  ">
                    <a href="index.html"><i class="icon-share"></i><span class="title">الاعدادات الاساسية</span></a>
                    <ul class="nav">
                        <li>@Html.ActionLink("الجنسيات", "Index", "Nationality", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("البلدان", "Index", "Countries", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("المدن", "Index", "Cities", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("الفرع البلدي", "Index", "Branch", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("المحلة / الشارع", "Index", "Place", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("الجهات", "Index", "Hospitals", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("العلاج", "Index", "Medicine", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("صالة العلاج", "Index", "TreatmentRoom", new { area = "" }, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub  ">
                    <a href="index.html"><i class="icon-tools"></i><span class="title"> العمليات</span></a>
                    <ul class="nav">
                        <li>@Html.ActionLink("الموظفين", "Index", "Employee", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("المرضى", "Index", "Patient", new { area = "" }, new { @class = "title" })</li>
                        <li>@Html.ActionLink("مواعيد الاطباء", "Index", "DoctorShift", new { area = "" }, new { @class = "title" })</li>
                        <li>
                            @Html.ActionLink("حجز المواعيد", "Index", "Appointment", new { area = "" }, new { @class = "title" })
                            <ul class="nav">
                                <li>@Html.ActionLink(" مواعيد كشف", "Index", "Appointment", new { area = "" }, new { @class = "title" })</li>
                                <li>@Html.ActionLink(" مواعيد علاج", "Index", "TreatmentAppointment", new { area = "" }, new { @class = "title" })</li>
                                <li>@Html.ActionLink(" جلسات علاج", "Index", "TreatmentSessions", new { area = "" }, new { @class = "title" })</li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
            /////////////////////-->
        </div>
        <!-- /main navigation -->
        <!-- /page sidebar -->
        <!-- Main container -->
        <div class="main-container gray-bg">

            <!-- Main header -->
            <div class="main-header row">
                <div class="col-sm-6 col-xs-7">

                    <!-- User info -->
                    <ul class="user-info pull-left">
                        <li class="profile-info dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <i class="img-circle avatar icon-user "></i> @Session["UserTitle"]  <span class="caret"></span></a>

                            <!-- User action menu -->
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-cog"></i>معلومات المستخدم</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Logout","Account")"><i class="icon-logout"></i>تسجيل الخروج</a></li>
                            </ul>
                            <!-- /user action menu -->

                        </li>
                    </ul>
                    <!-- /user info -->

                </div>

                <div class="col-sm-6 col-xs-5">
                    <div class="pull-right">
                        <!-- User alerts -->
                        <!-- Notifications -->
                        @*<img alt="logo" height="15" src="~/Content/images/Almotkaml.png"  />
                            <span style="vertical-align: bottom">Almotkaml Co .</span>*@
                        @*<li>
                                        <ul class="dropdown-list">
                                            <li class="unread notification-success"><a href="#"><i class="icon-user-add pull-right"></i><span class="block-line strong">New user registered</span><span class="block-line small">30 seconds ago</span></a></li>
                                            <li class="unread notification-secondary"><a href="#"><i class="icon-heart pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="unread notification-primary"><a href="#"><i class="icon-user pull-right"></i><span class="block-line strong">Privacy settings have been changed</span><span class="block-line small">2 hours ago</span></a></li>
                                            <li class="notification-danger"><a href="#"><i class="icon-cancel-circled pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="notification-info"><a href="#"><i class="icon-info pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="notification-warning"><a href="#"><i class="icon-rss pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="external-last"> <a href="#" class="danger">View all notifications</a> </li>
                                </ul>
                            </li>
                            <!-- /notifications -->
                            <!-- Messages -->
                            <li class="notifications dropdown">
                                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-mail"></i><span class="badge badge-secondary">12</span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="first">
                                        <div class="dropdown-content-header"><i class="fa fa-pencil-square-o pull-right"></i> Messages</div>
                                    </li>
                                    <li>
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/Content/images/domnic-brown.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Domnic Brown</span>
                                                        <span class="media-annotation pull-right">Tue</span>
                                                    </a>
                                                    <span class="text-muted">Your product sounds interesting I would love to check this ne...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/Content/images/john-smith.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">John Smith</span>
                                                        <span class="media-annotation pull-right">12:30</span>
                                                    </a>
                                                    <span class="text-muted">Thank you for posting such a wonderful content. The writing was outstanding...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/Content/images/stella-johnson.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Stella Johnson</span>
                                                        <span class="media-annotation pull-right">2 days ago</span>
                                                    </a>
                                                    <span class="text-muted">Thank you for trusting us to be your source for top quality sporting goods...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/Content/images/alex-dolgove.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Alex Dolgove</span>
                                                        <span class="media-annotation pull-right">10:45</span>
                                                    </a>
                                                    <span class="text-muted">After our Friday meeting I was thinking about our business relationship and how fortunate...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/Content/images/domnic-brown.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Domnic Brown</span>
                                                        <span class="media-annotation pull-right">4:00</span>
                                                    </a>
                                                    <span class="text-muted">I would like to take this opportunity to thank you for your cooperation in recently completing...</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="external-last"> <a class="danger" href="#">All Messages</a> </li>
                                </ul>
                            </li>*@
                        <!-- /messages -->
                        <!-- /user alerts -->

                    </div>
                </div>
            </div>
            <!-- /main header -->
            <!-- Main ~/Content -->
            <div class="main-~/Content">
                <h1 class="page-title"></h1>
                @RenderBody()

                <!-- Footer -->
                <footer class="animatedParent animateOnce z-index-10">
                    @Html.Partial("_Footer")
                </footer>
                <!-- /footer -->

            </div>
            <!-- /main ~/Content -->

        </div>
        <!-- /main container -->

    </div>

    <!-- /page container -->
    <!-- /page container -->
    <!--Load JQuery-->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/jquery-editable-select.js"></script>
    <!-- Load CSS3 Animate It Plugin JS -->
    <script src="~/Content/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/Content/js/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/Content/js/plugins/blockui-master/jquery.blockUI.js"></script>
    <!--nouiSlider-->
    <script src="~/Content/js/plugins/nouislider/nouislider.min.js"></script>
    <!-- Input Mask-->
    <script src="~/Content/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Select2-->
    <script src="~/Content/js/plugins/select2/select2.full.min.js"></script>
    <!--Bootstrap ColorPicker-->
    <script src="~/Content/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", required: false)

    <script src="~/Content/js/functions.js"></script>

    <!--Bootstrap dataTables-->
    <script src="~/Content/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/js/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/Content/js/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons" B>lTfgitp',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, ':visible']
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    'colvis'
                ]
            });
        });
    </script>


    <script src="~/Content/js/plugins/wizard/jquery.bootstrap.wizard.min.js"></script>

    <!--Float Charts-->
    <script src="~/Content/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Content/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/js/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/js/plugins/flot/jquery.flot.selection.min.js"></script>
    <script src="~/Content/js/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/js/plugins/flot/jquery.flot.time.min.js"></script>




    <script>
        $(document).ready(function () {
            var $checkbox = $('.todo-list .checkbox input[type=checkbox]');

            $checkbox.change(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().addClass('checked');
                } else {
                    $(this).parent().removeClass('checked');
                }
            });

            $checkbox.each(function (index) {
                if ($(this).is(':checked')) {
                    $(this).parent().addClass('checked');
                } else {
                    $(this).parent().removeClass('checked');
                }
            });

            // charts
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            var previousPoint = null;
            $('#graph-bars, #graph-lines').bind('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;
                        $('#flotTip').remove();
                        var x = item.datapoint[0],
                            y = item.datapoint[1];

                        var color = item.series.color;
                        var day = new Date(x).getDate();
                        var month = monthNames[new Date(x).getMonth()];
                        var year = new Date(x).getFullYear();
                        showTooltip(item.pageX,
                            item.pageY,
                            day + ' ' + month + ',' + year
                            + " : <strong>" + y +
                            " visitors</strong>");

                        /*content = item.series.label + ' = ' + item.datapoint[1];
                         showTooltip(item.pageX, item.pageY, content);
                         showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');*/

                    }
                } else {
                    $('#flotTip').remove();
                    previousPoint = null;
                }
            });

            var graphData = [{
                // Visits
                data: [[1196463600000, 45], [1196550000000, 30], [1196636400000, 98], [1196722800000, 37], [1196809200000, 95], [1196895600000, 45], [1196982000000, 65],
                [1197068400000, 120], [1197154800000, 90], [1197241200000, 65], [1197327600000, 50]],
                color: '#ff7575'
            }, {
                // Returning Visits
                data: [[1196463600000, 100], [1196550000000, 170], [1196636400000, 260], [1196722800000, 127], [1196809200000, 240], [1196895600000, 180], [1196982000000, 160],
                [1197068400000, 210], [1197154800000, 270], [1197241200000, 120], [1197327600000, 85]],
                color: '#77b7c5',
            }
            ];


            // Lines
            $.plot($('#graph-lines'), graphData, {
                series: {
                    points: {
                        show: true,
                        radius: 3.5
                    },
                    lines: {
                        show: true,
                        fill: true
                    },
                    shadowSize: 0
                },
                grid: {
                    color: '#646464',
                    borderColor: 'transparent',
                    borderWidth: 20,
                    hoverable: true
                },
                xaxis: {
                    mode: "time",
                    tickColor: 'transparent',
                    tickDecimals: 2
                },
                yaxis: {
                    tickSize: 100
                }
            });

            // Bars
            $.plot($('#graph-bars'), graphData, {
                series: {
                    points: {
                        show: true,
                        radius: 3.5,
                    },
                    lines: {
                        show: true,
                        fill: false
                    },
                    bars: {
                        show: false,
                        lineWidth: 5,
                        align: 'center'
                    },
                    shadowSize: 0,
                    hoverable: true
                },
                grid: {
                    color: '#646464',
                    borderColor: 'transparent',
                    borderWidth: 20,
                    hoverable: true
                },
                xaxis: {
                    mode: "time",
                    tickColor: 'transparent',
                    tickDecimals: 2
                },
                yaxis: {
                    tickSize: 100
                }
            });

            var $graphBar = $('#graph-bars'), $graphLine = $('#graph-lines'), $linkLine = $('#lines'), $linkBar = $('#bars');
            $graphBar.hide();
            $linkLine.on('click', function (e) {
                e.preventDefault();

                $linkBar.removeClass('active');
                $graphBar.fadeOut(function () {
                    $(this).addClass('active');
                    $graphLine.fadeIn();
                });
            });
            $linkBar.on('click', function (e) {
                e.preventDefault();

                $linkLine.removeClass('active');
                $graphLine.fadeOut(function () {
                    $(this).addClass('active');
                    $graphBar.fadeIn();
                });
            });

            var revenueData = [{
                // Visits
                data: [[1475280000000, 400.05], [1475366400000, 1600.32], [1475452800000, 900.35], [1475539200000, 2100.31], [1475625600000, 1800.55], [1475712000000, 900.42], [1475798400000, 2885.01], [1475884800000, 1870.97], [1475971200000, 2145.14], [1476057600000, 1130.14], [1476144000000, 1490.02], [1476230400000, 740.74], [1476316800000, 1280.88], [1476403200000, 1157.71], [1476489600000, 599.71], [1476576000000, 2159.89], [1476662400000, 1557.81], [1476748800000, 959.06], [1476835200000, 158.00], [1476921600000, 757.99], [1477008000000, 800], [1477094400000, 950.25], [1477180800000, 1289.22], [1477267200000, 400.52], [1477353600000, 2425], [1477440000000, 1300.35], [1477526400000, 1600.20], [1477612800000, 890.65], [1477699200000, 2165.29], [1477785600000, 1566.22], [1477872000000, 2064.33]],
                //data: [[6, 400], [7, 1600], [8, 900], [9, 2100], [10, 1200], [12, 1800]],
                //data: [[1167692400000, 1600.05], [1167778800000, 5800.32], [1167865200000, 570.35], [1167951600000, 5600.31], [1168210800000, 1155.55], [1168297200000, 2255.64], [1168383600000, 5334.02], [1168470000000, 1151.88], [1168556400000, 3352.99], [1168815600000, 2652.99], [1168902000000, 3251.21], [1168988400000, 4152.24], [1169074800000, 4450.48], [1169161200000, 7751.99], [1169420400000, 5851.13], [1169506800000, 1555.04], [1169593200000, 55.37], [1169679600000, 54.23], [1169766000000, 55.42], [1170025200000, 54.01], [1170111600000, 56.97], [1170198000000, 58.14], [1170284400000, 58.14], [1170370800000, 59.02], [1170630000000, 58.74], [1170716400000, 58.88], [1170802800000, 57.71], [1170889200000, 59.71], [1170975600000, 59.89], [1171234800000, 57.81], [1171321200000, 59.06], [1171407600000, 58.00], [1171494000000, 57.99], [1171580400000, 59.39], [1171839600000, 59.39], [1171926000000, 58.07], [1172012400000, 60.07], [1172098800000, 61.14], [1172444400000, 61.39], [1172530800000, 61.46], [1172617200000, 61.79], [1172703600000, 62.00], [1172790000000, 60.07], [1173135600000, 60.69], [1173222000000, 61.82], [1173308400000, 60.05], [1173654000000, 58.91], [1173740400000, 57.93], [1173826800000, 58.16], [1173913200000, 57.55], [1173999600000, 57.11], [1174258800000, 56.59], [1174345200000, 59.61], [1174518000000, 61.69], [1174604400000, 62.28], [1174860000000, 62.91], [1174946400000, 62.93], [1175032800000, 64.03], [1175119200000, 66.03], [1175205600000, 65.87], [1175464800000, 64.64], [1175637600000, 64.38], [1175724000000, 64.28], [1175810400000, 64.28], [1176069600000, 61.51], [1176156000000, 61.89], [1176242400000, 62.01], [1176328800000, 63.85], [1176415200000, 63.63], [1176674400000, 63.61], [1176760800000, 63.10], [1176847200000, 63.13], [1176933600000, 61.83], [1177020000000, 63.38], [1177279200000, 64.58], [1177452000000, 65.84], [1177538400000, 65.06], [1177624800000, 66.46], [1177884000000, 64.40], [1178056800000, 63.68], [1178143200000, 63.19], [1178229600000, 61.93], [1178488800000, 61.47], [1178575200000, 61.55], [1178748000000, 61.81], [1178834400000, 62.37], [1179093600000, 62.46], [1179180000000, 63.17], [1179266400000, 62.55], [1179352800000, 64.94], [1179698400000, 66.27], [1179784800000, 65.50], [1179871200000, 65.77], [1179957600000, 64.18], [1180044000000, 65.20], [1180389600000, 63.15], [1180476000000, 63.49], [1180562400000, 65.08], [1180908000000, 66.30], [1180994400000, 65.96], [1181167200000, 66.93], [1181253600000, 65.98], [1181599200000, 65.35], [1181685600000, 66.26], [1181858400000, 68.00], [1182117600000, 69.09], [1182204000000, 69.10]],
                color: '#fff',
                label: 'Revenue($)',
                dashes: { show: true }
            }
            ];

            $('#placeholder_overview, #Revenue-lines').bind('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;
                        $('#flotTip').remove();
                        var x = item.datapoint[0],
                            y = item.datapoint[1];
                        //showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');

                        var color = item.series.color;
                        var day = new Date(x).getDate();
                        var month = monthNames[new Date(x).getMonth()];
                        var year = new Date(x).getFullYear();
                        showTooltip(item.pageX,
                            item.pageY,
                            day + ' ' + month + ',' + year
                            + " : <strong>" + y +
                            "($)</strong>");
                    }
                } else {
                    $('#flotTip').remove();
                    previousPoint = null;
                }
            });

            var options = {
                series: {
                    points: {
                        show: true,
                        radius: 3.5,
                        fillColor: "rgba(0,0,0,0.35)",
                    },
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: true
                    },
                    bars: {
                        show: false,
                        lineWidth: 2
                    },
                    shadowSize: 10,
                    //highlightColor: '#fff',
                    hoverable: true,
                    clickable: true,
                },
                grid: {
                    color: '#646464',
                    borderColor: 'transparent',
                    borderWidth: 20,
                    hoverable: true,
                    tickColor: "rgba(255,255,255,0.05)",
                    markingsColor: "rgba(255,255,255,0.05)",
                    markingsLineWidth: 5,
                    /*backgroundColor: {
                        colors: ["rgba(54,58,60,0.05)", "rgba(0,0,0,0.2)"]
                    }*/
                },
                legend: {
                    show: true
                },
                xaxis: {
                    mode: 'time',
                    font: {
                        weight: "bold"
                    },
                    color: "#D6D8DB",
                    tickColor: 'transparent',
                    tickDecimals: 2
                },
                selection: {
                    mode: "x"
                },
                yaxis: {
                    font: {
                        weight: "bold"
                    },
                    color: "#D6D8DB",
                    tickSize: 500
                }
            };

            // Lines
            var plot = $.plot($('#Revenue-lines'), revenueData, options);

            // Bars
            var overview = $.plot($("#placeholder_overview"), revenueData, {
                colors: ["#edc240", "#5eb95e"],
                series: {
                    bars: {
                        show: true,
                        lineWidth: 5,
                        fillColor: "#5eb95e"
                    },
                    shadowSize: 2,
                    grow: {
                        active: false
                    }
                },
                legend: {
                    show: false
                },
                xaxis: {
                    ticks: [],
                    mode: "time"
                },
                yaxis: {
                    ticks: [],
                    min: 0,
                    autoscaleMargin: 0.1
                },
                selection: {
                    mode: "x"
                },
                grid: {
                    color: "#D6D8DB",
                    borderColor: 'transparent',
                    markingsColor: "rgba(255,255,255,0.05)",
                    /*backgroundColor: {
                        colors: ["rgba(54,58,60,0.05)", "rgba(0,0,0,0.2)"]
                    }*/
                }
            });

            $("#Revenue-lines").bind("plotselected", function (event, ranges) {
                // do the zooming
                plot = $.plot($("#Revenue-lines"), revenueData,
                    $.extend(true, {}, options, {
                        xaxis: {
                            min: ranges.xaxis.from,
                            max: ranges.xaxis.to
                        }
                    }));

                // don't fire event on the overview to prevent eternal loop
                overview.setSelection(ranges, true);
            });

            $("#placeholder_overview").bind("plotselected", function (event, ranges) {
                plot.setSelection(ranges);
            });

            $("#Revenuelines").click(function (event) {
                event.preventDefault();
                overview.clearSelection();
                $.plot($("#Revenue-lines"), revenueData, options);
            });

            // pie graph
            var doughnutData = [
                {
                    value: 5742,
                    color: "#2bbfba",
                    highlight: "#1fb3ae",
                    label: "Only Visited"
                },
                {
                    value: 2496,
                    color: "#00b8ce",
                    highlight: "#00acc2",
                    label: "Purchased"
                },
                {
                    value: 1762,
                    color: "#e5e8eb",
                    highlight: "#d9dcdf",
                    label: "Bounced"
                }
            ];

            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 4,
                percentageInnerCutout: 60, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                responsive: true,
                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
            };

            var canvas = document.getElementById("doughnutChart");
            var helpers = Chart.helpers;
            //var ctx = document.getElementById("doughnutChart").getContext("2d");
            var moduleDoughnut = new Chart(canvas.getContext("2d")).Doughnut(doughnutData, doughnutOptions);
            var legendHolder = document.createElement('div');
            legendHolder.innerHTML = moduleDoughnut.generateLegend();
            helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                helpers.addEvent(legendNode, 'mouseover', function () {
                    var activeSegment = moduleDoughnut.segments[index];
                    activeSegment.save();
                    activeSegment.fillColor = activeSegment.highlightColor;
                    moduleDoughnut.showTooltip([activeSegment]);
                    activeSegment.restore();
                });
            });
            helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                moduleDoughnut.draw();
            });
            canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
        });
    </script>
    <script>
        $(document).ready(function () {
            // Form Wizard
            if ($.isFunction($.fn.bootstrapWizard)) {
                $('#rootwizard').bootstrapWizard({
                    tabClass: 'wizard-steps',
                    onTabShow: function ($tab, $navigation, index) {
                        $tab.prevAll().addClass('completed');
                        $tab.nextAll().removeClass('completed');
                        $tab.removeClass('completed');
                    }

                });

                $(".validate-form-wizard").each(function (i, formwizard) {
                    var $this = $(formwizard);
                    var $progress = $this.find(".steps-progress div");

                    var $validator = $this.validate({
                        rules: {
                            username: {
                                required: true,
                                minlength: 3
                            },
                            password: {
                                required: true,
                                minlength: 3
                            },
                            confirmpassword: {
                                required: true,
                                minlength: 3
                            },
                            email: {
                                required: true,
                                email: true,
                                minlength: 3,
                            }
                        }
                    });

                    // Validation
                    var checkValidaion = function (tab, navigation, index) {
                        if ($this.hasClass('validate')) {
                            var $valid = $this.valid();
                            if (!$valid) {
                                $validator.focusInvalid();
                                return false;
                            }
                        }

                        return true;
                    };

                    $this.bootstrapWizard({
                        tabClass: 'wizard-steps',
                        onNext: checkValidaion,
                        onTabClick: checkValidaion,
                        onTabShow: function ($tab, $navigation, index) {
                            $tab.removeClass('completed');
                            $tab.prevAll().addClass('completed');
                            $tab.nextAll().removeClass('completed');
                        }
                    });
                });
            }
        });
    </script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    @*<script src="~/Content/js/jquery.unobtrusive-ajax.js"></script>*@




</body>
</html>

